<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kBLKServiceUUID</key>
		<string>1d14d6ee-fd63-4fa1-bfa4-8f47b42119f0</string>
		<key>kBLKServiceClass</key>
		<string>BLKOTAUpdateService</string>
		<key>kBLKServiceCharacteristics</key>
		<array>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>f7bf3564-fb6d-4e53-88a4-5e37e0326063</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>OTAControl</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>984227f3-34fc-4045-a5d0-2c581f81a153</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>OTAData</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>kBLKServiceUUID</key>
		<string>180a</string>
		<key>kBLKServiceClass</key>
		<string>BLKDeviceInfoService</string>
		<key>kBLKServiceCharacteristics</key>
		<array>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>2a29</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>manufacturerString</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>2a24</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>modelNumberString</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>2a26</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>firmwareRevisionString</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>2a27</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>hardwareRevisionString</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>5d5b1dd0-925c-4826-87f2-e2b8cb7a50a6</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>firmwareIDString</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>kBLKServiceUUID</key>
		<string>9f93c11c-1ffe-4134-b037-7237728b4d2a</string>
		<key>kBLKServiceClass</key>
		<string>BLKPortsService</string>
		<key>kBLKServiceCharacteristics</key>
		<array>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>2F2496F6-7D21-4618-8B7D-873F669F8CCD</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>portsAndCapabilities</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>2A2CD51F-D139-44C1-8AA8-F796C2069EB7</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>PWMChannelsWidth1Thru10</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>F882214E-0C0B-4872-9561-0724B1AF7561</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>PWMDefaultChannelsWidth1Thru10</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>65E13616-F4F8-4664-A224-A11035BFB61F</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>I2CControl</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>E73A26F9-F6EE-4B50-9F15-1D54FFE24A1E</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>GeneralPurposeInputs</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>EDC2DB5B-7847-4719-9F0F-64FC8E0BF754</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>GeneralPurposeOutputs</string>
			</dict>
			<dict>
				<key>kBLKServiceCharacteristicUUID</key>
				<string>D718013B-EE5C-45A5-9088-15987686BFA9</string>
				<key>kBLKServiceCharacteristicPropertyRoot</key>
				<string>AnalogToDigitalConverters</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
